@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
#datafetcherror {
  font-size: 19px;
}
body {
  width: 100%;
  height: 100vh;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.products {
  display: grid;
  height: auto;
  padding-top: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  place-items: center;
}

.product {
  background-color: #fff;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px;
  border-radius: 9px;
  width: 250px;
  height: 350px;
}
.product:hover {
  transform: scale(1.02);
  transition: ease 0.2s;
}
#imgcontainer {
  height: 50%;
  background-position: center;
  border-radius: 8px;
  background-size: cover;
}
h3 {
  font-weight: 600;
  margin-top: 10px;
  border-top: 1px solid #202528;
}
.prices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
}
.buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 7px 5px;
}
button:hover {
  transform: scale(1.07);
  transition: all ease 0.5s;
}

#addtocart {
  background-color: #fd6a02;
  border: none;
  border-radius: 20px;
}
#buynow {
  background-color: green;
}

@media (max-width: 1065px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 425px) {
  .products {
    grid-template-columns: 1fr;
  }
}
